.anti-corruption__wrapper{
    display: block;
    width: 100%;
    background: linear-gradient(to bottom, #02428a , #10599d , #1b66a7 , #2878b3 20%, #50acd3 35%, #95cfe5 60%, #abdfed 75%, #eef1f4 100%);
    background-size: 100% 503px;
    background-repeat: no-repeat;
    height: 100%;
    background-color: #eef1f4;
}

.title{
    display: block;
    font-size: 56px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    margin: 0;
    &__block{
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        padding-top: 55px;
    }
}
.articles-menu{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px 0;
    &__list{
        display: flex;
        list-style: none;
        flex-flow: row wrap;
        margin: 0;
        width: 100%;
        max-width: 746px;
        justify-content: space-between;
    }
    &__link{
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.7;
        letter-spacing: normal;
        color: #405877;
        text-decoration: none;
        position: relative;
        padding: 5px 15px;
        &:hover{
            border-radius: 20px;
            background-color: #ffffff;
            padding: 5px 15px 5px 15px;
        }
        &-icon{
            padding-left: 35px;
            &:hover{
                border-radius: 20px;
                background-color: #ffffff;
                padding: 5px 15px 5px 35px;
            }
        }
    }
        
    &__item{
        &_action{
            border-radius: 20px;
            background-color: #ffffff;
        }
    }
    &__img{
        position: absolute;
        top: 6px;
        left: 5px;
        width: 21.8px;
        height: 21.3px;
    }
}
.news__section{
    display: flex;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 46px;
}
.news__container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: wrap column;
}
.news__block{
    display: flex;
    width: 100%;
    max-width: 1067px;
    min-height: 267px;
    border-radius: 13px;
    background-color: #ffffff;
    margin-bottom: 25px;
}
.news__box{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
    min-height: 267px;
    padding: 22px 27px 31px 40px;
}
.news-img{
    width: 100%;
    max-width: 428px;
    border-radius: 13px 0 0 13px;
}
.news-time{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #8a8a8a;
}
.news-title{
    
    &__link{
        text-decoration: none;
        font-size: 28px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #405877;
        margin-top: 9px;
        &:hover{
            opacity: 0.7;
        }
    }
    &__box{
        display: block;
        margin-bottom: 14px;
    }
}
.news-text{
    display: block;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
    &__box{
        display: flex;
        height: 100%;
    }
}

.pogination{
    display: flex;
    list-style: none;
    margin: 0;
    align-items: center;
    &__item{
        display: flex;
        &:not(:last-child){
            margin-right: 8px;
        }
    }
    &__link{
        display: flex;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 35px;
        border-radius: 5px;
        border: solid 1px #979797;
        text-decoration: none;
        &:hover{
            background-color: #405877;
            color: #ffffff;
        }
        &_active{
            background-color: #405877;
            color: #ffffff;
        }
        &-points{
            display: flex;
            align-items: flex-end;
            width: 28px;
            height: 35px;
            text-decoration: none;
            padding-bottom: 6px;
            justify-content: center;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #000000;
        }
        &-arrow {
            display: flex;
            width: 48px;
            height: 45px;
            border-radius: 32px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.22);
            background-color: #ffffff;
            justify-content: center;
            align-items: center;
            margin: 0 17px;
            &:hover{
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.7);
            }
        }
    }
    &__img{
        width: 23px;
        height: 14px;
        transform: rotate(-180deg);
    }
    
}
.news__section_edite{
    padding-bottom: 0;
}