.subtitle{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-bottom: 10px;
}
.title__block_padding{
    padding-top: 40px;
}
.documentation{
    display: flex;
    width: 100%;
    padding-top: 8px;
    padding-left: calc(4px + 8%);
    padding-right: calc(4px + 8%);
    &__container{
        display: flex;
        flex-flow: column;
    }
    &__block{
        display: flex;
        flex-flow: row;
        width: 100%;
        min-width: 1079px;
        max-width: 1410px;
        &:not(:last-child){
        margin-bottom: 25px;}
    }
    &__name{
        display: block;
        width:100%;
        min-width: 427px;
        max-width: 562px;
        padding-right: 67px;
    }
    &-content__wrapper{
        width: 100%;
        min-width: 652px;
    }
    &__content{
        display: block;
        width: 100%;
        min-width: 652px;
        padding-left: 35px;
        margin-bottom: 25px;
    }
    &-title{
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #405877;
    }
    &-link{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #000000;
        text-decoration: none;
        position: relative;
        &:hover{
            border-bottom: 1px solid #000000;
        }
        &::before{
            content: "";
            background: url("img/icons/file-icon.svg");
            width: 20px;
            height: 20px;
            position: absolute;
            left: -35px;
            top: 1px;
        }
    }
    &-size{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #8a8a8a;
        margin-left: 20px;
    }
}