@media (max-width: 1279.98px){
    .news__section{
        padding-left: 47px;
        padding-right: 41px;
    }
    .news-text{
        height: 76px;
        overflow: hidden;
    }

}
@media (max-width: 999.98px){
    .news-img{
        max-width: 370px;
    }
    .news-title__link{
        font-size: 24px;
    }
    .title{
        font-size: 46px;
    } 
    .title__block{
        padding: 0 20px;
    }
    .articles-menu{
        padding: 40px 25px 0 35px;
    }
    .news__block{
        flex-flow: column;
        max-width: 460px;
    }
    .news-img{
        max-width: 460px;
        border-radius: 13px 13px 0 0;
    }
    .news__box{
        min-height: 253px;
    }
}
@media (max-width: 699.98px){
    .title{
        font-size: 37px;
    }
    .articles-menu__list{
        max-width: 600px;
        justify-content: flex-start;
    }
    .articles-menu__item{
        margin-bottom: 10px;
    }
    .articles-menu__item_action{
        margin-left: 6px;
        margin-right: 40px;
    }
    .title__block{
        padding-top: 25px;
    }
    .pogination__link-arrow{
        margin: 0 13px;
    }
    .news__block_none{
        display: none;
    }
}


@media (max-width: 567.98px){
    .title{
        font-size: 35px;
    }
    .news-img{
        max-width: 327px;
        height: 201;
    }
    .articles-menu{
        padding-left: 11px;
    }
    .news__block{
        max-width: 327px;
    }
    .poginatiom__item_arrow{
        display: none;
    }
    .pogination__item_active{
        margin-left: 8px;
    }
    .news-title__link{
        font-size: 22px;
    }
    .news__box{
        padding: 14px 12px 21px 26px;
    }
    .news-text{
        overflow: visible;
        height: 100%;
    }
    .articles-menu{
        padding-right: 0;
    }
    .news__section{
        padding-left: 0;
        padding-right: 0;
    }
    .articles-menu__link-icon{
        margin-left: 11px;
    }
    .articles-menu__item_action{
        margin-right: 0;
    }

}