@media (max-width: 1279.98px){
    .report-corruption{
        padding-right: 8%;
        padding-left: 8%;
    }
    .report-corruption__block{
        padding-right: 58px;
        min-width: 420px;
        max-width: 460px;
    }
    .report-corruption__container{
        min-width: 460px;
    }
    .report-corruption__box{
        max-width: 460px;
    }
}
@media (max-width: 999.98px){
    .articles-menu_padding{
        padding-bottom: 44px;
    }
    .report-corruption__text{
        font-size: 21px;
    }
    .report-corruption{
        padding-right: 5%;
        padding-left: 5%;
    }
    .report-corruption__block{
        padding-right: 40px;
        min-width: 380px;
        max-width: 440px;
    }
    .report-corruption__box{
        max-width: 370px;
        min-width: 200px;
    }
    .data-span{
        width: 160px;
    }
    .corruption__form{
        width: 320px;
    }
}
@media (max-width: 799.98px){
    .report-corruption{
        padding-left: 13%;
        padding-right: 8%;
        padding-top: 40px;
    }

    .report-corruption__container{
        flex-flow: column;
        justify-content: space-between;
    }
    .report-corruption__block{
        max-width: 465px;
        padding-right: 0;
        margin-bottom: 40px;
    }
    .corruption__form{
        width: 100%;
        max-width: 406px;
    }
    .report-corruption__text{
        font-size: 20px;
    }
    .report-corruption__container{
        min-width: 300px;
    }
    .message-sent__block{
        min-width: 400px;
    }
    
}
@media (max-width: 499.98px){
    .report-corruption{
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 30px;
    }
    .title_size{
        padding-left: 17px;
        padding-right: 17px;
    }
    .report-corruption__block{
        max-width: 325px;
        min-width: 200px;
    }
    .checkbox-data{
        margin-left: 18px;
    }
    .message-set::before{
        left: -65px;
    }
    .message-set{
        font-size: 20px;
    }
    .message-sent__block{
        min-width: 318px;
    }
}