@media (max-width: 1279.98px){
    .documentation{
        padding-left: calc(5px + 4%);
        padding-right: calc(5px + 4%);
    }
    .documentation__block{
        min-width: 900px;
    }
    .documentation__name{
        min-width: 315px;
        max-width: 460px;

    }
    .documentation-size{
        display: none;
    }
    .documentation-content__wrapper{
        min-width: 596px;
    }
    .documentation__content{
        min-width: 596px;
    }
}


@media (max-width: 999.98px){
    .documentation__name{
        max-width: 310px;
        min-width: 280px;
        padding-right: 25px;
    }
    .documentation{
        padding-top: 25px;
    }
    .documentation__block{
        min-width: 600px;
    }
    .documentation__content{
        min-width: 446px;
    }
    .documentation-content__wrapper{
        min-width: 446px;
      }
}


@media (max-width: 799.98px){
    .documentation__block{
        flex-flow: column;
        min-width: 280px;
    }
    .documentation{
        padding-left: 7%;
        padding-right: 7%;
    }
    .documentation__name{
        max-width: 600px;
        min-width: 280px;
        padding-right: 0;
        margin-bottom: 25px;
    }
    .documentation__content{
        margin-bottom: 19px;
    }
    .documentation__content{
        min-width: 280px;
    }
    .documentation-content__wrapper{
        min-width: 280px;
    }
    .documentation__block2_none{
        display: none;
    }
    .documentation__block_margin{
        margin: 0;
    }
}
@media (max-width: 499.98px){
    .documentation{
        padding-left: 25px;
        padding-right: 25px;
    }
    .documentation__block1_none{
        display: none;
    }
    .documentation__block:not(:last-child){
        margin: 0;
    }
    .documentation__name{
        margin-top: 25px;
    }
    .documentation{
        padding-top: 0;
    }
}