.report-corruption{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #ffffff;
    padding-top: 60px;
    padding-right: 18%;
    padding-left: calc( 6px + 8%);
    padding-bottom: 62px;
    height: 100%;
    min-height: 528px;
    &__container{
        display: flex;
        flex-flow: row;
        width: 100%;
        min-width: 942px;
        justify-content: center;
    }
    &__block{
        display: flex;
        width: 100%;
        min-width: 532px;
        padding-right: 155px;
        max-width: 720px;
    }
    &__box{
        display: flex;
        width: 100%;
        min-width: 407px;
        max-width: 410px;
    }
    &__text{
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        color: #000000;
    }
}
.corruption__form{
    display: flex;
    flex-flow: column;
}
.corruption-imput{
    width: 100%;
    max-width: 407px;
    height: 48px;
    border-radius: 5px;
    border: solid 1px rgba(0, 53, 122, 0.86);
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #000000;
    padding: 0 16px;
    &::placeholder{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.61);
      
    }
    &:focus {
        outline: none;
        box-shadow: none;
        }
}
.corruption__message{
    width: 100%;
    max-width: 407px;
    height: 93px;
    border-radius: 5px;
    border: solid 1px rgba(0, 53, 122, 0.86);
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #000000;
    padding: 11px 16px;
    &::placeholder{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.61);    
    }

    &:focus {
        outline: none;
        box-shadow: none;
        }
}
.form-button{
    width: 149px;
    height: 48px;
    border-radius: 3px;
    background-color: #1b63a6;
    border: none;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.check-data{
    display: none;
}
.checkbox-data{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: solid 1px rgba(0, 0, 0, 0.5);
    position: relative;
    cursor: pointer;
    margin-left: 33px;
}
.checkbox-data::before{
    content: "";
        background: url("img/corruption/path-4.svg");
        width: 12px;
        height: 9px;
        position: absolute;
        top: 3px;
        left: 1px;
        opacity: 0;
        transition: .3s;
}
.check-data:checked + .checkbox-data::before{
    opacity: 1;
}
.data-span{
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000;
    width: 203px;
    opacity: 0.5;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 5px;
}
.corruption__check-data{
    display: flex;
    flex-flow: row;
    padding-top: 8px;
}
.corruption-form__box{
    display: flex;
    flex-flow: row;
}
.message-sent__block{
    display: none;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 16px;
}
.message-set{
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    color: #000000;
    position: relative;
    &::before{
        content: "";
        background: url("img/corruption/path-6.svg");
        width: 85px;
        height: 68px;
        position: absolute;
        left: -95px;
        top: -38px;
    }
}