
@import 'libs/normalize';
@import 'libs/font';
@import 'libs/jquery-ui.min';

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }
    .wrapper-bg{
        width: 100%;
        height: 100%;
        min-height: 2713px;
        background: 
         url("img/mar.png") center 205px/ auto  no-repeat,
         url("img/bg-heder.jpg") center (top/ auto)  no-repeat;
         background-color: #dee1e4;
}

@import 'blocks/heder';
@import 'blocks/menu';
@import 'blocks/mar';
@import 'blocks/airport';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/menu-airports-detail';
@import 'blocks/heder-airports-detail';
@import 'blocks/_airport-detail-contact';
@import 'blocks/timetable';
@import 'blocks/airports-detail';
@import 'blocks/corruption/anti-corruption';
@import 'blocks/corruption/documentation';
@import 'blocks/corruption/report-corruption';
@import 'blocks/giede';
@import 'blocks/vacancies';
@import 'blocks/article';
@import 'blocks/activity';
@import 'blocks/license';
@import 'blocks/inf-children';
@import 'blocks/history';
@import 'blocks/limited-mobility';
@import 'blocks/corruption/media-documentation';
@import 'blocks/media-index';
@import 'blocks/corruption/media-anti-corruption';
@import 'blocks/corruption/media-report-corruption';