.activity{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 33px;
    padding-left: 6%;
    padding-right: 6%;
    &__container{
        display: flex;
        width: 100%;
        max-width: 638px;
        flex-flow: column;
    }
    &__text{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #525252;
        margin-bottom: 30px;
    }
    &__link{
        display: inline;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #000000;
        text-decoration: none;
        position: relative;
        padding-left: 35px;
        padding-bottom: 18px;
        &:hover{
            opacity: 0.7;
        }
        &::before{
            content: "";
            background: url("img/icons/file-icon.svg");
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 1px;
            fill: #dd2727;;
        }
    }
    &__volume{
        display: inline;
        margin-left: 15px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #8a8a8a;
    }
    &__title{
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #405877;
        margin-bottom: 40px;
        margin-top: 20px;
    }
}



