.airport-contact{
    &__container{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #eef1f4;
        padding-top: 67px;
        padding-bottom: 13px;
        position: relative;
        padding-left: 40px;
    }
    &__block{
        display: flex;
        flex-flow: row;
        width: 100%;
        max-width: 1037px;
    }
    &__administration{
        width: 100%;
        max-width: 550px;
    }
}
.administration{
    &__name{
        font-size: 16px;
        font-weight: normal;
        line-height: 1.56;
        letter-spacing: normal;
        color: #000000;
        margin-bottom: 10px;
        position: relative;
        &::before{
            content: "";
            background-image: url("img/icons/combined-shape.svg");
            position: absolute;
            left: -30px;
            width: 14px;
            height: 20px;
        }
    }
    &__position{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #525252;
    }
    &__box{
        margin-bottom: 59px;
    }
    &-contacts__box{
        display: flex;
        width: 100%;
        max-width: 480px;
        flex-flow: column;
    }
    &-contacts__adress{
        display: block;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        color: #000000;
        position: relative;
        margin-bottom: 28px;
        &::before{
            content:"";
            background-image: url("img/icons/combined-shape-2.svg");
            position: absolute;
            left: -30px;
            width: 14px;
            height: 20px;
        }
    }
    &-contacts{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        color: #000000;
        text-decoration: none;
        margin-right: 40px;
        position: relative;
        &__phone::before{
            content: "";
            background-image: url("img/icons/phone-2.svg");
            position: absolute;
            top: 3px;
            left: -30px;
            width: 14px;
            height: 20px;
        }
        &__aftn:before{
            content: "";
            background-image: url("img/icons/airplane.svg");
            position: absolute;
            top: 5px;
            left: -40px;
            width: 22px;
            height: 14px;
        }
        &__email:before{
            content: "";
            background-image: url("img/icons/combined-shape-3.svg");
            position: absolute;
            top: 6px;
            left: -30px;
            width: 16px;
            height: 13px;
        }
    }
}
.administration-contacts__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.administration__bg{
    position: absolute;
    right: 157px;
    bottom: 0;
}