.airport{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 135px;
    padding: 0 60px;
    z-index: 58;
    &__container{
        display: flex;
        flex-flow: wrap row;
        width: 100%;
        max-width: 1450px;
        justify-content: center;
    }
    &__block{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        position: relative;
        width: 342px;
        height: 183px;
        border-radius: 3px;
        cursor: pointer;
        margin: 0 10px 16px 10px;
        transition: all 0.3s ease;
        &:before{
            content: "";
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 53, 122, 0.80);
            z-index: 1;
            transition: all 0.3s ease;
        }
        &:hover:before{
            border-radius: 3px;
            background-color: rgba(0, 53, 122, 0.35);
            transition: all 0.4s ease;
        }
        &:after{
            content: "";
            background: transparent url("img/icons/icon-3.png") no-repeat center;
            width: 19px;
            height: 19px;
            z-index: 66;
            position: absolute;
            top: 10px;
            right: 10px;
            transition: all 0.3s ease;
            opacity: 0;
        }
        &:hover:after{
            opacity: 1;
            transition: all 0.3s ease;
        }
        &_opacity{
            opacity: 0;
        }
    }
    &__title{
        display: block;
        z-index: 100;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
        cursor: pointer;
        width: 258px;
        text-align: center;
    }
    &__phone{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translate(-50%);
        z-index: 122;
    }
    &__img{
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
