.heder__logo-link_none{
    display: none;
}
.airport-gallery{
    display: flex;
    background-color: #eef1f4;
    width: 100%;
    justify-content: center;
    &__container{
        display: flex;
        width: 100%;
        flex-flow: wrap row;
        justify-content: center;
        
    }
    &_link{
        text-decoration: none;
        width: 319px;
        height: 264px;
        margin-bottom: 1px;
    }
    &__block{
        display: flex;
        justify-content: space-between;
        flex-flow: wrap row;
        width: 100%;
    }
}
.btn-gallery{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-top: 27px;
}
.btn-gallery__link{
    display: flex;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: #0f4d9d;
    width: 100%;
    max-width: 1070px;
    height: 48px;
    text-decoration: none;
    border-radius: 3px;
    background: rgba(27, 99, 166, 0.1);
    justify-content: center;
    align-items: center;
}
.mar-airport{
    width: 100%;
    height: 483px;
}
#mar{
    width: 100%;
    height: 100%;
}
.map-airport__container{
    height: 100%;
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
}