.subtitle-slash{
    margin: 0 10px;
}
.article{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 38px;
    padding-bottom: 40px;
    &__container{
        display: flex;
        flex-flow: column;
        width: 100%;
        max-width: 640px;
    }
    &__img{
        width: 100%;
        max-width: 639px;
        height: 399px;
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 39px;
    }
    &__date{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #8a8a8a;
        text-align: center;
        margin-bottom: 38px;
    }
    &__title{
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        color: #000000;
        margin-bottom: 38px;
    }
    &__text{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #000000;
        margin-bottom: 20px;
    }
}
.share{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    margin-top: 27px;
    &-text{
        font-size: 17px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        margin-right: 25px;
    }
}
.ya-share2{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

@media (max-width: 749.98px){
    .article__img{
        height: auto;
        margin-bottom: 25px;
    }
    .article{
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0;
    }
    .article__date{
        margin-bottom: 25px;
    }
    .subtitle__block{
        margin-bottom: 10px;
    }
}