.footer{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
    min-height: 269px;
    padding: 58px 80px 50px 80px;
    background: #eef1f4;
    &__wrapper{
        display: flex;
        width: 100%;
        max-width: 1600px;
        justify-content: space-between;
    }
    &__container{
        margin-top: 17px;
        width: 100%;
        max-width: 900px;
        margin-right: 60px;
    }
    &__info{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 785px;
        &-content{
        display: block;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #525252;
        text-decoration: none;
        flex-flow: row wrap;
        &:hover{
           color: #000000;
        }
        }
    }
    &__phone{
        margin-right: 73px;
        margin-bottom: 20px;
    }
    &__email{
        margin-right: 88px;
        margin-bottom: 20px;
    }
    &__block{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        max-width: 900px;
        justify-content: space-between;
        margin-top: 40px;
    }
    &__box{
        display: block;
        &-img{
            display: flex;
            margin-bottom: 48px;
            width: 100%;
            min-width: 188px;
            justify-content: flex-end;
        }
    }
}
.icon-footer{
    position: relative;
    top: 2px;
    margin-right: 12px;
}
.creature__content{
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    color: #246aaa;
    text-decoration: none;
    position: relative;
    width: 201px;
    img{
        position: relative;
        top: 2px;
        margin-left: 5px;
    }
    &:hover{
        opacity: 0.8;
    }
}
.icon-arms{
    margin-left: 41px;
}