.guide{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 43px;
    &__container{
        display: flex;
        width: 100%;
        max-width: 835px;
        flex-flow: column;
    }
    &__block{
        display: flex;
        width: 100%;
        max-width: 300px;
        flex-flow: column;
    }
    &__wrapper{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &-name{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        color: #000000;
        position: relative;
        margin-bottom: 9px;
        &::before{
          content: "";
          background: url("img/icons/icon-giede.svg");
          width: 14px;
          height: 20px;
          position: absolute;
          left: -30px;
        }
    }
    &-position{
        font-family: Montserrat;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: #525252;
        width:100%;
        max-width: 288px;
    }
}

@media (max-width: 1279.98px){
    .guide__container{
        max-width: 800px;
    }
}


@media (max-width: 999.98px){
    .guide{
        padding-left: 11%;
        padding-right: 5%;
    }
}

@media (max-width: 779.98px){
    .guide__wrapper{
        flex-flow: column;
        align-items: center;
    }
    .guide__wrapper{
        margin: 0;
    }
    .guide__block{
        margin-bottom: 40px;
    }
}
@media (max-width: 499.98px){
    .guide{
        padding-left: 16%;
    }
}