.heder{
    &__container{
        padding-left: 58px;
        padding-right: 58px;
        display: flex;
        justify-content: space-between;
        padding-top: 16px;
    }
    &__logo{
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        &-link{
            text-decoration: none;
        }
        img{
            position: relative;
            top: -30px;
        }
    }
};
