
.heder__wrapper{
    display: block;
    width: 100%;
    background: linear-gradient(to bottom, #02428a , #10599d , #1b66a7 , #2878b3 20%, #50acd3 35%, #95cfe5 60%, #abdfed 75%, #eef1f4 100%);
    height: 100%;
    min-height: 515px;
}
.airport-name__img{
    display: block;
    float: right;
    max-width: 1100px;
}
.airport-name__block{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 57px;
}
.airport-name__box{
    display: block;
    width: 100%;
    max-width: 1100px;
    position: relative;
}
.airport-name__img-arms{
    position: absolute;
    right: 18px;
    top: 26px;
}
.airport-history{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #eef1f4;
    padding-left: 40px;
}
.airport-history__text{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #000000;
    width: 1037px;
}