.history{
    display: flex;
    width: 100%;
    padding-right: calc(8% + 5px);
    &__wrapper{
        display: block;
        width: 100%;
        background: 
         url("img/2012.png") right 155px/ auto  no-repeat,
        linear-gradient(to bottom, #02428a , #10599d , #1b66a7 , #2878b3 20%, #50acd3 35%, #95cfe5 60%, #abdfed 75%, #eef1f4 100%) top/100% 503px no-repeat;
        height: 100%;
        background-color: #eef1f4;
    }
    &__container{
        display: flex;
    }
    &__block{
        display: block;
        position: relative;
        width: 100%;
        min-width: 478px;
        max-width: 478px;
    }
    &__img{
        display: block;
        position: relative;
        width: 100%;
        max-width: 478px;
        height: auto;
        top: -30px;
    }
    &__box{
        display: block;
        padding: 55px 0 0 55px;
        width: 100%;
        max-width: 1080px;
        min-width: 200px;
    }
    &__text{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #000000;
        margin-bottom: 30px;
    }
    &__title{
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        color: #000000;
        margin-bottom: 30px;
        width: 100%;
        max-width: 985px;
        min-width: 500px;
        padding-right: 96px;
    }
}


@media (max-width: 1279.98px){
    .history__box{
        min-width: 695px;
        padding-left: 10px;
    }
    .history__block{
        max-width: 459px;
        min-width: 100px;
    }
}

@media (max-width: 899.98px){
    .history__block{
        display: none;
    }
    .history{
        padding-left: 7%;
        padding-right: 7%;
    }
    .history__container{
        width: 100%;
    }
    .history__box{
        min-width: 100px;
        padding-top: 30px;
        padding-left: 0;
    }
    .history__title{
        padding-right: 0;
        min-width: 100px;
    }
}

@media (max-width: 499.98px){
    .history__text_none{
        display: none;
    }
}