.title__infchidren{
    width: 100%;
    max-width: 700px;
}
.inf-childern{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 29px;
    padding-left: 6%;
    padding-right: 6%;
    &__container{
        display: flex;
        flex-flow: column;
        width: 100%;
        max-width: 640px;
    }
    &__img{
        width: 100%;
        max-width: 639px;
        height: auto;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    &__text{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #000000;
        margin-top: 20px;

    }
    &__box{
        display: flex;
        flex-flow: column;
        padding-top: 29px;
    }
}

@media (max-width: 499.98px){
    .title__infchidren{
        font-size: 30px;
    }
}