.license{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 41px;
    padding-right: 6%;
    padding-left: 6%;
    &__container{
        display: flex;
        width: 100%;
        max-width: 1050px;
        flex-flow: column;
        align-items: center;
    }
    &__block{
        display: flex;
        width: 100%;
        flex-flow: row;
        padding-top: 42px;
        justify-content: space-between;
    }
    &__box{
        display: flex;
        flex-flow: column;
        width: 315px;
        align-items: center;
    }
    &__link{
        display: inline-block;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #000000;
        text-align: center;
        text-decoration: none;
        width: 100%;
        max-width: 726px;
        margin-bottom: 57px;
        position: relative;
        padding-left: 30px;
        &:hover{
            border-bottom: 1px solid #000000;
        }
        &::before{
            content: "";
            background: url("img/icons/file-icon.svg");
            width: 20px;
            height: 20px;
            position: absolute;
            top: -3px;
            left: 0;
            fill: #dd2727;;
        }
    }
    &__title{
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #405877;
    }
    &__img{
        width: 223px;
        height: 316px;
    }
    &__text{
        text-align: center;
        margin-top: 22px;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    }
}




@media (max-width: 1279.98px){
    .license__box{
        width: 252px;
    }
}

@media (max-width: 948.98px){
    .license__block{
        flex-flow: wrap;
        justify-content: space-around;
    }
    .license__box{
        margin-bottom: 30px;
        width: 280px;
    }
    .license__text{
        width: 260px;
    }
    .license__link:hover{
        border: none;
    }
}
@media (max-width: 720.98px){
    .license__link{
        max-width: 524px;
    }
}
@media (max-width: 679.98px){
    .license__box{
        width: 252px;
    }
}
@media (max-width: 582.98px){
    .license__link{
        max-width: 400px;
    }
}

@media (max-width: 410.98px){
    .license__link{
        max-width: 300px;
    }
}