.limited-mobilly{
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 62px;
    flex-flow: column;
    &__title{
        max-width: 785px;
    }
    &__container{
        display: flex;
        flex-flow: column;
        width: 100%;
        max-width: 640px;
    }
    &-text{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #000000;
    }
    &__text{
        margin-bottom: 25px;
    }
    &__list{
        margin-left: 30px;
    }
    &__item{
        margin-bottom: 5px;
    }
}
.mobility{
    display: flex;
    width:100%;
    justify-content: center;
    background-color: #ffffff;
    padding-top: 58px;
    padding-bottom: 57px;
    &__container{
        display: flex;
        width: 100%;
        max-width: 940px;
        flex-flow: row;
    }
    &__form{
        display: flex;
        flex-flow: column;
        width: 100%;
        max-width: 407px;
    }
    &__block{
        display: flex;
        width: 100%;
        max-width: 532px;
        padding-right: 76px;
    }
    &__text{
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        color: #000000;
    }
    &__label{
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.83;
        letter-spacing: normal;
        color: #5b5b5b;
    }
    &__input{
        width: 407px;
        height: 48px;
        border-radius: 5px;
        border: solid 1px rgba(0, 53, 122, 0.86);
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 32px;
        &:focus {
            outline: none;
            box-shadow: none;
            border: solid 1px rgba(0, 53, 122, 0.86);
          }
        }
}

#mobility-surname{
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        color: #000000;
}
#mobility-surname::placeholder{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #000000;  
}
#mobility-name{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #000000;
}
#mobility-name::placeholder{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.61);
}
#mobility-phone{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #000000;
}
#mobility-phone::placeholder{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.61);
}
#mobility-phone{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #000000;
}
#mobility-phone::placeholder{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.61);
}
#mobility-date{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #000000;
}
#mobility-date::placeholder{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.61);
}
#mobility-number{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #000000;
}
#mobility-number::placeholder{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.61);
}
#mobility-number{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #000000;
}
#mobility-number::placeholder{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.61);
}
#disability{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #000000;
}
#disability::placeholder{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.61);
}
#disability{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #000000;
}
#services::placeholder{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.61);
}
.mobility__textarea{
    width: 407px;
    height: 93px;
    border-radius: 5px;
    border: solid 1px rgba(0, 53, 122, 0.86);
    padding: 11px 16px;
    margin-bottom: 32px;
}
.airport-section{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 62px 60px 0 60px;
    z-index: 58;
}

@media (max-width: 1599.98px){
    .airport-section{
        padding-left: 0;
        padding-right: 0;}
}
@media (max-width: 1099.98px){
    .mobility__container{
        max-width: 800px;
    }
    .mobility__block{
        padding-right: 60px;
    }
}

@media (max-width: 899.98px){
    .mobility__container{
        max-width: 691px;
    }
    .mobility__form{
        max-width: 320px;
    }
    .mobility__input{
        max-width: 320px;
    }
    .mobility__textarea{
        max-width: 320px;
    }
    .mobility__block{
        max-width: 370px;
    }
}
@media (max-width: 759.98px){
    .limited-mobilly{
        padding-left: 7%;
        padding-right: 7%;
    }
    .mobility{
        padding-left: 7%;
        padding-right: 7%;
    }
    .mobility__container{
        flex-flow: column;
    }
    .mobility__block{
        max-width: none;
        padding: 0;
        width: 100%;
        margin-bottom: 30px;
    }
    .mobility__form{
        max-width: 407px;
    }
    .mobility__input{
        width: 100%;
        max-width: 407px;
    }
    .mobility__textarea{
        width: 100%;
        max-width: 407px;
    }
}