.mar{
    display: flex;
    width: 100%;
    justify-content: center;
    &__container{
        width: 839px;
        height: 100%;
        min-height: 1130px;
        margin-top: 133px;
        position: relative;
    }
    &__marker-1{
        position: absolute;
        top: 9px;
        left: 241px;
    }
    &__marker-2{
        position: absolute;
        top: 142px;
        left: 570px;
    }
    &__marker-3{
        position: absolute;
        top: 478px;
        left: 279px;
    }
    &__marker-4{
        position: absolute;
        top: 579px;
        left: 545px;
    }
    &__marker-5{
        position: absolute;
        top: 705px;
        left: 461px;
    }
    &__marker-6{
        position: absolute;
        top: 698px;
        left: 290px;
    }
    &__marker-7{
        position: absolute;
        top: 824px;
        left: 350px;
    }
    &__marker-8{
        position: absolute;
        top: 813px;
        left: 603px;
    }
    &__marker-9{
        position: absolute;
        top: 913px;
        left: 529px;
    }
    &__marker-10{
        position: absolute;
        top: 946px;
        left: 386px;
    }
    &__marker-11{
        position: absolute;
        top: 910px;
        left: 324px;
    }
    &__icon{
        fill: #00449C;
        cursor: pointer;
        width: 37px;
        height: 33px;
        &:hover{
         fill: #d0021b;;
        }
    }

}