
@media (min-width: 1600px) and (max-width: 1800px){
    .main-menu{
        padding-right: 250px;
    }
    .main-menu__line{
        width: 250px;
    }
    .menu-mobile{
        display: none;
    }
    .hamburger{
        display: none;
    }
}
@media (min-width: 1100px) and (max-width: 1599.98px){ 
    .main-menu__line{
        width: 150px;
    }
    .main-menu{
        padding-right: 150px;
    }
    .footer__block{
        max-width: 542px;
    }
    .footer__content_bottom{
        position: relative;
        left: 305px;
        margin-top: 10px;
    }
    .airport{
        padding: 0;
    }
}
    .menu-mobile{
        display: none;
    }
    .hamburger{
        display: none;
    }

@media (min-width: 982px) and (max-width: 1099.98px){
    .top-menu__list{
        width: 100%;
        max-width: 350px;
    }
    .airport__block{
        width: 285px;
    }
    .airport{
        padding: 0;
    }
    .top-menu__item_bottom{
        margin-top: 10px;
    }
    .main-menu__line {
        max-width: 66px;
    }
    .main-menu{
        padding-right: 84px;
    }
    .menu-mobile{
        display: none;
    }
    .hamburger{
        display: none;
    }
    .footer__phone{
        margin-right: 65px;
    }
    .footer__email{
        margin-right: 65px;
    }
    .footer__block{
        max-width: 542px;
    }
    .footer__content_bottom{
        position: relative;
        left: 307px;
        margin-top: 10px;
        width: 100%;
        max-width: 190px;
    }
    .top-menu__left{
        max-width: 325px;
        margin-right: 30px;
    }
}
@media (min-width: 900px) and (max-width: 981.98px){
    .top-menu__list{
        width: 100%;
        max-width: 350px;
    }
    .main-menu__line{
        width: 20px;
    }
    .main-menu{
        padding-right: 40px;
    }
    .top-menu__item_bottom{
        margin-top: 10px;
    }
    .dropdown{
        width: calc(100% + 50px);
    }
    .menu-mobile{
        display: none;
    }
    .hamburger{
        display: none;
    }
    .airport__block{
        width: 280px;
    }
    .airport{
        padding: 0;
    }
    .footer__spot{
        margin-left: 54px;
    }
    .footer__phone{
        margin-right: 65px;
    }
    .footer__email{
        margin-right: 65px;
    }
    .footer__block{
        max-width: 542px;
    }
    .footer__content_bottom{
        position: relative;
        left: 248px;
        margin-top: 10px;
        width: 100%;
        max-width: 190px;
    }
}
@media (min-width: 680px) and (max-width: 899.98px){
    .top-menu__list {
        display: none;
}
    .main-menu{
        display: none;
    }
    .menu-mobile__block{
        padding: 103px 170px 56px 115px;
    }
    .mar__container{
        display: none;
    }
    .wrapper-bg{
    background: url(../img/bg-heder.jpg) center top/auto no-repeat;
    background-color: #eef1f4;
    height: 100%;
    min-height: 665px;
}
    .airport__block{
        width: 304px;
        height: 183px;
    }
   .airport{
       padding: 0;
   }
   .heder__logo img{
    width: 322px;
    height: 106px;
   }
   .heder__container{
       padding: 0;
   }
   .heder__logo{
    margin-top: 55px;
   }
   .menu-mobile{
    display: block;
}
    .hamburger{
    display: block;
}
   .heder__logo img {
       position: relative;
   }
   .right-menu__phone{
    position: absolute;
    z-index: 323;
    right: 38px;
    top: 34px;
    margin: 0;
   }
   .right-menu{
       max-width: none;
   }
   .airport{
    margin-top: 42px;
   }
   .footer__wrapper{
    flex-flow: wrap;
       justify-content: center;
   }
   .footer__container{
       margin: 0;
       padding: 0;
   }
   .footer__phon{
       margin: 0;
   }
   .footer__info{
       flex-flow: column;
       max-width: 100%;
   }
   .footer__info-content{
       margin: 0;
       margin-bottom: 16px;
       max-width: none;
       text-align: center;
   }
   .footer__block{
       flex-flow: column;
       margin-top: 20px;
   }
  .footer__box-img{
        justify-content: center;
        margin-bottom: 27px;
        margin-top: 23px;
  }
  .footer{
      padding: 0;
      padding-top: 36px;
      padding-bottom: 45px;
      justify-content: center;
  }
}
@media (max-width: 679.98px){
    .top-menu__list {
        display: none;
}
    .main-menu{
        display: none;
    }
    .menu-mobile{
        display: block;
    }
    .hamburger{
        display: block;
    }
    .menu-mobile__block{
        display: block;
    }
    .mar__container{
        display: none;
    }
    .wrapper-bg{
    background: url(../img/bg-heder.jpg) center top/auto no-repeat;
    background-color: #eef1f4;
    height: 100%;
    min-height: 665px;
}
    .airport__block{
        width: 100%;
        max-width: 332px;
        height: 183px;
    }
   .airport{
       padding: 0;
   }
   .heder__logo{
    margin-top: 55px;
   }
   .heder__logo img{
    width: 100%;
    max-width: 322px;
    height: 100%;
    max-height: 106px;
   }
   .heder__container{
       padding: 0;
   }
   .heder__logo img {
       position: static;
   }
   .right-menu__phone{
       position: absolute;
       z-index: 323;
       right: 27px;
       top: 28px;
       margin: 0;
   }
   .right-menu{
       max-width: none;
   }
   .airport{
    margin-top: 42px;
   }
   .footer__wrapper{
    flex-flow: wrap;
       justify-content: center;
   }
   .footer__container{
       margin: 0;
       padding: 0;
   }
   .footer__phon{
       margin: 0;
   }
   .footer__info{
       flex-flow: column;
   }
   .footer__info-content{
       margin: 0;
       margin-bottom: 16px;
       max-width: none;
       text-align: center;
   }
   .footer__block{
       flex-flow: column;
       margin-top: 20px;
   }
  .footer__box-img{
        justify-content: center;
        margin-bottom: 27px;
        margin-top: 23px;
  }
  .footer{
      padding: 0;
      padding-top: 36px;
      padding-bottom: 45px;
      justify-content: center;
  }
    .airport__block_opacity{
        display: none;
    }
}


// AIRPORT DETAIL
@media (max-width: 1279.98px){
    .heder__wrapper{
        min-height: 490px;
    }
    .airport-name__img{
        margin-right: 40px;
        height: 223px;
        max-width: 912px;
    }
    .airport-name__box{
        max-width: 1000px;
    }
    .airport-name__img-arms{
        right: 48px;
    }
    .airport-history__text{
        width: 895px; 
    }
    .airport-history{
        padding-left: 0;
    }
    .airport-contact__container{
        padding-left: 25px;
        padding-top: 62px;
    }
    .airport-contact__block{
        max-width: 862px;
    }
    .timetable__container{
       justify-content: center;
    }
    .timetable__block{
        display: flex;
        width: 900px;
    }
    .form-timetable__wrapper{
        padding-right: 28px;
    }
    .timetable__time{
        margin-left: 37px;
    }
    .timetable__block{
        margin-top: 11px;
    }
    .airport-gallery__container{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .airport-gallery__block{
        width: 1000px;
        height: 530px;
        overflow: hidden;
    }

  .airport-gallery_link{
        width: 333px;
        margin-bottom: 1px;
        img{
            width: 333px;
            height: 264px;
        }
  }
  .timetable-table{
    min-width: 1280px;
    &__container{
        width: 100%;
        max-width: 1280px;
    }
}
.btn-gallery__link{
    width: 833px;
}

}



@media (max-width: 999.98px){
    .heder__wrapper{
        min-height: 200px;
        padding-bottom: 40px;
    }
    .menu-mobile_none{
        display: block;
    }
    .hamburger__block{
        display: block;
    }
    .heder__logo-link_none{
        display: block;
    }
    .heder__logo-link_none{
        width: 322px;
        height: 106px;
    }
    .heder-ligo__img{
        width: 322px;
        height: 106px;
    }
    .heder__logo_position{
        margin-top: 46px;
    }
    .airport-name__block{
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .airport-name__box{
        display: flex;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    .airport-name__img{
        width: 100%;
        max-width: 820px;
        min-width: 600px;
        height: auto;
        position: static;
        margin: 0;
    }
    .airport-history{
        padding: 0 50px;
    }
    .airport-history__text{
        max-width: 962px;
    }
    .administration__bg{
        display: none;
    }
    .airport-contact__block{
        flex-flow: row wrap;
        align-items: center;
        max-width: 853px;
    }
    .administration__box{
        display: flex;
        margin-bottom: 28px;
        width: 100%;
        max-width: 322px;
        flex-flow: column;
        margin-right: 30px;
    }
    .administration-contacts__box{
        max-width: 550px;
    }
    .airport-contact__administration{
        display: flex;
        flex-flow: wrap row;
        max-width: 900px;
    }
    .administration-contacts{
        margin: 0;
        margin-right: 140px;
    }
    .administration-contacts__wrapper{
        justify-content: flex-start;
    }
    .timetable{
        padding: 0;
    }
    .timetable__title{
        font-size: 40px;
        margin-right: 30px;
    }
    .timetable__block{
        width: 100%;
        max-width: 881px;
    }
    .airport-contact__container{
        padding-top: 37px;
        padding-left: 80px;
        padding-right: 50px;
    }
    .timetable__period{
        flex-flow: column;
        margin: 0;
        margin-top: 20px;
    }
    .form-timetable__wrapper{
        justify-content: flex-start;
        width:900px;
        padding: 0;
    }
    .timetable__container{
        padding-left: 50px;
        padding-right: 50px;
    }

    .timetable-input_margin{
        margin-bottom: 20px;
    }
    .timetable-form__container{
        display: flex;
        justify-content: center;
        padding-left: 50px;
        padding-right: 20px;
    }
    
    .timetable-table__container{
        width: 100%;
        max-width: 1000px;
    }
    .airport-gallery_link img{
        width: 100%;
    }
    .airport-gallery_link{
        margin-bottom: 2px;
        width: 339px;
    }
    .airport-gallery__block{
        width: 680px;
    }
    .btn-gallery__link{
        width: 600px;
    }
    .main-menu_row{
        display: none;
    }
    .right-menu__phone-top{
        width: 160px;
    }
    .airport-contact__block{
        padding-top: 0;
    }
}
@media (max-width: 679.98px){
    .heder__wrapper{
        padding-bottom: 30px;
    }
    .airport-name__block{
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .airport-name__box{
        display: flex;
        justify-content: center;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 25px;
    }
    .airport-name__img{
        width: 100%;
        max-width: 655px;
        min-width: 300px;
        height: auto;
        position: static;
        margin: 0;
    }
    .heder__logo_position{
        margin-top: 30px;
    }
    .administration-contacts{
        margin-right: 78px;
    }
    .administration-contacts__wrapper{
        flex-wrap: wrap;
    }
    .airport-gallery__block{
        width: 100%;
        max-width: 375px;
    }
    .airport-gallery_link{
        width: 100%;
        max-width: 375px;
        img{
            width: 100%;
        }
    }
    .heder__wrapper{
        min-height: 200px;
    }
    .btn-gallery__link{
        max-width: 600px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width: 545.98px){
   .airport-history__text{
    
    z-index: 200;
    top: 280px;
    width: 100%;
    max-width: 500px;
    
   }
   .airport-history{
       padding: 0 25px;
   }
   .airport-contact__container{
    padding-top: 164px;
   }
   .airport-contact__administration{
    max-width: 278px;
   }
   .administration__name{
       margin: 0;
   }
   .administration__box{
    margin-bottom: 25px;
   }
   .airport-contact__container{
    padding-left: 56px;
    padding-right: 25px;
   }
   .administration-contacts__adress{
    max-width: 278px;
    margin-top: 10px;
   }
   .administration-contacts__box{
    max-width: 278px;
   }
   .administration-contacts__wrapper{
       flex-flow: column;
       margin: 0;
   }
   .administration-contacts{
       margin-bottom: 25px;
       width: 100%;
       max-width: 300px;
   }
   .timetable__container{
       padding: 0 27px;
   }
   .airport-contact__block{
       max-width: 410px;
       padding-top: 30px;
   }
   .airport-contact__container{
       padding-bottom: 0;
       padding-top: 0;
      
   }
   .timetable__title{
       font-size: 26px;
   }
   .timetable__block{
       max-width: 447px;
       margin: 0;
   }
   .timetable__period{
       flex-flow: column;
       margin-top: 10px;
   }
   .timetable__block{
       margin-top: 24px;
   }
   .timetable__timezone{
       margin-left: 30px;
       margin-top: 6px;
       margin-right: 12px;
   }
   .timetable__time{
    margin-left: 32px;
   }
   .timetable-form__container{
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
   }
   #select-name{
       margin-right: 0;
   }
   #number{
       margin-right: 0;
   }
   .heder__logo img{
       padding: 0 20px;
   }
   .form-timetable__wrapper{
       max-width: 448px;
       width: 100%;
   }
   .timetable-table__container{
       width: 100%;
       max-width: 679px;
   }
   .btn-gallery__link{
       max-width: 600px;
       margin-left: 30px;
       margin-right: 30px;
   }
   .timetable-table__container{
       padding-bottom: 30px;
   }
}












  