
.top-menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
    &__list{
        display: flex;
        list-style: none;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 555px;
    }
    &__link{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        text-decoration: none;
        opacity: 0.7;
        letter-spacing: normal;
        &:hover{
            opacity: 0.9;
        }
    }
    &__item{
        display: flex;
    }
    &__icon{
        padding-right: 10px;
    }
}

.right-menu{
    width: 100%;
    max-width: 310px;
    &__phone{
        float: right;
        margin-top: 23px;
        cursor: pointer;
        z-index: 400;
        &-link{
            display: block;
            font-size: 22px;
            font-weight: 500;
            color: #ffffff;
            text-decoration: none;
            cursor: pointer;
             &:hover{
                 opacity: 0.7;
             }
        }
    }
}
.main-menu{
    display: flex;
    margin-top: 55px;
    flex-flow: row ;
    height: 100%;
    align-items: center;
    padding-right: 300px;
    &__list{
        display: flex;
        list-style: none;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-between;
    }
    &__link{
        display: flex;
        text-decoration: none;
        font-size: 22px;
        font-weight: 500;
        color: #ffffff;
        transition: all 0.3s ease;
         &:hover{
            transform: translateX(-15px);
            transition: all 0.3s ease;
         }
    }
    &__line{
        display: flex;
        border-bottom: 2px solid #ffffff;
        width: 100%;
        max-width: 300px;
        height: 2px;
        margin-right: 19px;
    }
    &__icon{
        display: flex;
        width: 15px;
        height: 8px;
        position: relative;
        top: 11px;
        left: 16px;
    }
    &__item{
        position: relative;
        padding-bottom: 10px;
        padding-top: 10px;
        &:hover .dropdown{
            display: block;
        }
    }
}
.dropdown{
    display: none;
    position: absolute;
    top: 40px;
    left: -25px;
    list-style: none;
    margin: 0;
    background-color: #ffffff;
    border-radius: 10px;
    width: calc(100% + 70px);
    z-index: 192;
    &__item{
        padding: 10px 5px 10px 22px;
        &:first-child{
            padding-top: 20px;
        }
        &:last-child{
            padding-bottom: 20px;
        }
        &:hover{
            background-color: #eaf1f6;
            cursor: pointer;
        }
        &:hover:last-child{
            border-radius: 0 0 10px 10px;
        }
        &:hover:first-child{
            border-radius: 10px 10px 0 0;
        }
    }
    &__link{
        text-decoration: none;
        font-size: 18px;
        line-height: 1.33;
        font-weight: normal;
        letter-spacing: normal;
        color: #405877;
    }
}
.menu-mobile{
    display: none;
    &__block{
    display: block;
    width: 100%;
    background-color: #405877;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 258;
    padding: 91px 43px 59px 53px;
    list-style: none;
    margin: 0;
    transition: 0.5s all;
    &_active{
        left: 0;
    }
    &_drop{
        list-style: none;
        margin: 0;
        padding-left: 25px;
    }
  }
    &__link{
        display: block;
        font-family: "Montserrat", sans-serif;
        text-decoration: none;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: normal;
        color: #ffffff;
        padding: 9px 0 9px 0;
    }
}
.hamburger{
    display: none;
    width: 40px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 32px;
    z-index: 259;	
      &__line{
        display: block;
        height: 2px;
        width: 40px;
        background-color:#ffffff;
        transition: 0.3s all;
        &-2{
            margin-top: 6px;
            margin-bottom: 6px;
        }
    }
    &_active{
        margin-bottom: -2px;
        .hamburger__line-1{
            transform: translateY(4px) rotate(-45deg)}
        .hamburger__line-2{
        display: none;}
        .hamburger__line-3{
        transform: translateY(3px) rotate(45deg)}
        }}

