
.phone_size{
    font-size: 18px;
}
.top-menu_row{
    max-width: none;
    padding: 18px 50px 0 50px;
}
.top-menu__left{
    max-width: 602px;
    margin-right: 40px;
}
.top-menu__right{
    max-width: 522px;
    display: flex;
    justify-content: space-between;
}
.right-menu__phone-top{
    margin: 0;
    width: 265px;
    margin-left: 41px;
}

.main-menu_row{
    display: flex;
    flex-flow: row;
    margin-top: 12px;
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
   
}
.menu__line_size{
    display: block;
    width: 100%;
    max-width: 20%;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-right: 16px;
}
.menu__line_bg-none{
    display: block;
        width: 100%;
        max-width: 20%;
        background: none;
        margin-right: 31px;
}
.main-menu__list_row{
    align-items: flex-end;
    width: 100%;
    min-width: 1162px;
}
.main-menu__logo{
    margin-left: 26px;
    padding-bottom: 2px;
}
.main-menu__link_size{
    font-size: 18px;
}
.main-menu__icon_top{
    top: 7px;
}
.top-menu__link_opaciti{
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    opacity: 1;
    &:hover{
        opacity: 0.7;
    }
}


@media (min-width: 1000px) and (max-width: 1279.98px){
    .right-menu__phone-top{
        width: 264px;
        margin-left: 35px;
    }
    .top-menu__list{
        max-width: none;
    }
    .top-menu__left{
        max-width: 325px;
        margin-right: 30px;
    }
    .top-menu__right{
        max-width: 533px;
    }
    .top-menu__item_bottom{
        margin-top: 10px;
    }
    .main-menu__link_size{
        font-size: 16px;
    }
    .main-menu__list_row{
        min-width: 882px;
    }
    .menu__line_size{
        width: 35px;
    }
    .menu__line_bg-none{
        width: 35px;
    }

}
@media (min-width: 680px) and (max-width: 999.98px){
    .right-menu__phone-top{
        width: auto;}
    .main-menu_row{
        display: none;
    }
    .top-menu__left{
        display: none;
    }
    .hamburger{
        display: block;
    }
    
    .top-menu__list_none{
        display: none;
    }
    .right-menu__phone {
        position: absolute;
        z-index: 323;
        right: 38px;
        top: 34px;
        margin: 0;
    }
}    