
.modal{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    align-items: center;
    background-color: rgba(0,0,0, .56);
    justify-content: center;
    transition: all 0.3s ease;
    overflow: auto;
    z-index: 500;
    right: 100%;
    &__container{
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1920px;
    }
    &__block-airport{
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        background-color: #ffffff;
    }
    &__block-close{
        display: flex;
        width: 100%;
        max-width: 150px;
        background-color: #ffffff;
        justify-content: center;
        align-items: center;
        font-size: 120px;
        font-weight: 100;
        cursor: pointer;
    }
    &__box-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        position: relative;
        width: 100%;
        max-width: 590px;
        height: 262px;
        border-radius: 3px;
        cursor: pointer;
        border: 1px solid #ffffff;
        transition: all 0.3s ease;
        &:before{
            content: "";
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 53, 122, 0.80);
            z-index: 1;
            transition: all 0.3s ease;
        }
        &:hover:before{
            border-radius: 3px;
            background-color: rgba(0, 53, 122, 0.35);
            transition: all 0.3s ease;
        }
        &:after{
            content: "";
            background: transparent url("icons/icon-3.png") no-repeat center;
            width: 19px;
            height: 19px;
            z-index: 66;
            position: absolute;
            top: 10px;
            right: 10px;
            transition: all 0.3s ease;
            opacity: 0;
        }
        &:hover:after{
            opacity: 1;
            transition: all 0.3s ease;
        }
    }
    &_title{
        width: 380px;
    }
}
.airport__img_z{
    z-index: 23;
}
.modal__box-content_hover{
    cursor: auto;
        &:hover:before{
            border-radius: 3px;
            background-color: rgba(0, 53, 122, 0.80);
            transition: all 0.3s ease;
        }
        &:hover:after{
            opacity: 0;
            transition: all 0.3s ease;
        }
}
.modal.modal-open{
    right: 0;
}

@media (min-width: 1280px) and (max-width: 1920px){
    .modal__block-close{
        max-width: 100px;
        font-size: 100px;
    }
    .modal__box-content{
        max-width: 391px;
        height: 169px;
    }
    .modal__container{
        max-width: 1280px;
    }
}

@media (min-width: 1000px) and (max-width: 1279.98px){
    .modal__block-close{
        max-width: 80px;
        font-size: 80px;
    }
    .modal__box-content{
        max-width: 391px;
        height: 169px;
    }
    .modal__container{
        max-width: 1000px;
    }
    .modal__block-airport{
        max-width: 782px;
    }
}
