.timetable{
    background-color: #ffffff;
    padding: 38px 0 54px 0;
    &__container{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    &__title{
        font-size: 56px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 35px;
        letter-spacing: normal;
        color: #405877;
        margin: 0;
    }
    &__period{
        display: flex;
        justify-content: flex-end;
        flex-flow: column;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        color: #000000;
        margin-left: 22px;
        margin-right: 144px;
        &_break{
            display: block;
        }   
    }
    &__block{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    &__time{
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #00285b;
        position: relative;
        margin-right: 25px;
        &::before{
            content: "";
            background-image: url("img/icons/time-icon.svg");
            width: 18px;
            height: 18px;
            position: absolute;
            left: -32px;
            top: 3px;
        }
    }
    &__date{
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #00285b;
        margin-right: 19px;
    }
    &__timezone{
        opacity: 0.5;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #00285b;
    }
}
.form-timetable__wrapper{
    display: flex;
    flex-flow: wrap row;
    margin-top: 32px;
    justify-content: center;
    padding-right: 189px;
}
#select-name{
    width: 262px;
    height: 48px;
    border-radius: 5px;
    border: solid 1px rgba(0, 53, 122, 0.86);
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #000000;
    padding-left: 16px;
    padding-right: 16px;
    background-image: url("img/icons/select-icon.svg");
    background-size: 16px 8px;
    background-repeat: no-repeat;
    background-position: 227px 20px ;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-right: 40px;
    &:focus {
        outline: none;
        box-shadow: none;
        border: solid 1px rgba(0, 53, 122, 0.86);
      }
    }
#number{
    width: 262px;
    height: 48px;
    border-radius: 5px;
    border: solid 1px rgba(0, 53, 122, 0.86);
    margin-right: 40px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #000000;
    &:focus {
        outline: none;
        box-shadow: none;
        border: solid 1px rgba(0, 53, 122, 0.86);
      }
    &::placeholder{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.61);
    } 
}
#date{
    width: 262px;
    height: 48px;
    border-radius: 5px;
    border: solid 1px rgba(0, 53, 122, 0.86);
    padding-left: 16px;
    padding-right: 40px;
    background-image: url("img/icons/input-icon.svg");
    background-size: 19px 20px;
    background-repeat: no-repeat;
    background-position: 228px 13px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: 3px;
    color: #000000;
    &:focus {
        outline: none;
        box-shadow: none;
        border: solid 1px rgba(0, 53, 122, 0.86);
      }
    &::placeholder{
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        color: #000000;
    } 
}
.ui-widget.ui-widget-content{
    width: 262px;
}
.timetable-table{
    width: 100%;
    border-collapse: collapse;
    &__container{
        width: 100%;
        padding-top: 36px;
        display: flex;
        overflow: auto;
        margin: 0 auto;
    }
    &__column_left{
        width: 100%;
    }
    &__column_right{
        width: 100%;
    }
    &__line_title{
        height: 40px;
        vertical-align: top;
        justify-content: center;
        width: 100%;
    }
    &__column-airport{
        width: 203px;
    }
    &__column-destination{
        width:231px;
    }
    &__column-flight{
        width: 86px;
    }
    &__column-type{
        width: 104px;
    }
    &__column-departure{
        width: 96px;
    }
    &__column-arrival{
        width: 108px;
    }
    &__column-days{
        width: 132px;
    }
    &__column-navigation{
        width: 100px;
    }
    &__line{
        height: 64px;
        vertical-align: top;
        &_color{
            background: rgba(229, 233, 236, 0.56);
        }
    }
}
.title-column{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #838383;
}
.content-column{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #525252;
    &_uppercase{
        text-transform: uppercase;
    }
}
.column_padding{
    padding-top: 12px;
}
.content-column_spacing{
    letter-spacing: 6px;
}


// Страница росписания 

.timetable__period_row{
    flex-flow: row;
}
.timetable__block_edits{
    width: 100%;
    max-width: 1050px;
    justify-content: space-between;
}
.timetable__period_edits{
    margin: 0;
}
.title__block_edits{
    padding: 40px 30px 60px 30px;
}
.schedule{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 53px;
    padding-left: 8%;
    padding-right: 8%;
    &__container{
        display: flex;
        width: 100%;
        max-width: 1020px;
        flex-flow: column;
    }
    &__title{
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #405877;
    }
    &__block{
        display: flex;
        padding-top: 31px;
        flex-flow: row;
    }
    &__list{
        display: block;
        width: 100%;
        max-width: 729px;
        margin-right: 53px;
    }
    &__item{
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        color: #525252;
        margin-bottom: 20px;
        padding-left: 10px;
    }
    &__box{
        display: flex;
        flex-flow: column;
        width: 100%;
        min-width: 232px;
        max-width: 232px;
    }
    &__volume{
        display: block;
        font-size: 14px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #8a8a8a;
    }
}






@media (max-width: 1279.98px){
    .timetable__block_edits{
        flex-flow: row;
        justify-content: space-between;
        padding-right: 28px;
        max-width: 893px;
    }
    .timetable-table__column-left{
        width: 4%;
    }
    .timetable-table__column-right{
        width: 4%;
    }
    .timetable__{
        justify-content: flex-start;
    }
}
@media (max-width: 999.98px){
    .timetable__block_edits{
        align-items: flex-start;
        margin: 0;
        flex-flow: row wrap;
        align-items: flex-end;
    }
    .timetable__period_edits{
        margin-top: 20px;
    }
    .title__block_edits{
        padding-bottom: 40px;
        padding-top: 0;
    }
    .timetable-table__column-left{
        width: 4%;
    }
    .timetable-table__column-right{
        width: 4%;
    }
}
@media (max-width: 899.98px){
    .timetable__block_edits{
        justify-content: flex-start;
    }
    .timetable__period_edits{
        max-width: 200px;
        margin-right: 30px;
    }
}
@media (max-width: 899.98px){
    .timetable__period_edits{
        margin-left: 5px;
    }
}
@media (max-width: 799.98px){
    .schedule__block{
        flex-flow: column;
    }
    .schedule__item{
        margin-left: 20px;
    }
    .schedule__list{
        margin-bottom: 20px;
    }
    .schedule__box{
        min-width: none;
        max-width: none;
    }
    .schedule{
        padding-left: 7%;
        padding-right: 7%;
    }
}
@media (max-width: 738px){
    .timetable__period_edits{
        margin-bottom: 10px;
    }
}
@media (max-width: 545.98px){
    .timetable__timezone_edits{
        margin-left: 0;
        margin-right: 0;
    } 
    .timetable__period_edits{
        margin-left: 0;
    }
    .timetable-table__column-left{
        width: 2%;
    }
    .timetable-table__column-right{
        width: 2%;
    }
    .timetable__wrapper{
        max-width: 280px;
    }
}