.vacancies{
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 24px;
    flex-flow: column;
    padding-bottom: 19px;
    &__container{
        display: flex;
        width: 100%;
        max-width: 1067px;
        height: 100%;
        min-height: 258px;
        border-radius: 13px;
        background-color: #ffffff;
        flex-flow: column;
        padding: 37px 40px 26px 44px;
        margin-bottom: 25px;
    }
    &__title{
        font-size: 28px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #405877;
    }
    &__block{
        display: flex;
        flex-flow: row;
        margin-top: 25px;
    }
    &__box{
        display: flex;
        flex-flow: row nowrap;
    }
    &__list{
        display: flex;
        flex-flow: column;
        list-style: none;
        margin: 0;
        margin-right: 43px;
    }
    &__item{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: #030303;
        width: 100%;
        max-width: 126px;
        min-width: 126px;
        margin-bottom: 18px;
        &_bold{
            font-weight: 600;
            color: #000000;
            margin-left: 43px;
            margin-bottom: 18px;
        }
    }
}
.attach__link{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
    text-decoration: none;
    position: relative;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    &:hover{
        opacity: 0.7;
    }
    &:before{
        content: "";
        background: url("img/corruption/icon-attach.svg");
        width: 16px;
        height: 20px;
        position: absolute;
        left: -25px;
    }
}
.vacancies__message{
    width: 100%;
    max-width: 407px;
    height: 93px;
    border-radius: 5px;
    border: solid 1px rgba(0,53,122,.86);
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #000;
    padding: 11px 16px;
    &:focus {
        outline: none;
        box-shadow: none;
        }
}



@media (max-width: 1279.98px){
    .vacancies{
        padding-left: 4%;
        padding-right: 4%;
    }
}

@media (max-width: 709.98px){
    .vacancies__box{
        flex-flow: column;
    }
    .vacancies__item_bold{
        margin-left: 0;
        margin-bottom: 25px;
    }
    .vacancies__item{
        margin-bottom: 2px;
    }
}